@font-face {
    font-family: "yekan";
    src: url(../fonts/Yekan.eot) ,
    url(../fonts/Yekan.woff) format("woff"),
    url(../fonts/Yekan.ttf) format("truetype");
  }
*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    font-family: yekan;
    direction: rtl;
    background-color: #f1f1f1;
    box-sizing: border-box;
}
/* base */
.container{
    /* max-width: 960px; */
    width: 80%;
    margin: 0 auto;
}
ul{
    list-style-type: none;
}
.highlight{
    color: #e8471d;
}
.active a{
    color: #e8471d;
}
.btn{
    height: 33px;
    background: #e8471d;
    border: 0;
    color: #f1f1f1;
    padding-left: 20px;
    padding-right: 20px;
    font-family: yekan;
}
/* Header */
header{
    background-color: #35424a;
    color: #f1f1f1;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 3px solid #e8471d;
}
/* header:after{
    content: '';
    display: block;
    clear: both;
} */
header li{
    float: right;
    padding: 10px;
}
header a{
    text-decoration: none;
    color: #f1f1f1;
    font-size: 16px;
}
.branding {
    float: right;
}
header nav{
    float: left;
}
/* showcase */
#showcase{
    background: url('../img/showcase.jpg') no-repeat 0px -400px;
    min-height: 400px;
    text-align: center;
    color: #f1f1f1;
}
#showcase h2{
    padding-top: 100px;
}
#showcase p {
    margin-top: 10px;
}
/* newsletter */
#newsletter{
    background-color: #35424a;
    color: #f1f1f1;
    padding: 15px;
}
#newsletter::after{
    content: '';
    display: block;
    clear: both;
}
#newsletter h3{
    float: right;
}
#newsletter form{
    float: left;
}
#newsletter form input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
    font-family: yekan;
}
/* #newsletter form button{
    height: 33px;
    background: #e8471d;
    border: 0;
    color: #f1f1f1;
    padding-left: 20px;
    padding-right: 20px;
    font-family: yekan;
} */
/* boxes */
#boxes{
    margin-top: 20px;
}
#boxes .box{
    float: right;
    width: 30%;
    text-align: center;
    padding: 10px;
}
#boxes .box img{
    width: 90px;
}
/* footer */
footer{
    clear: both;
    padding: 30px;
    text-align: center;
    background-color: #e8471d;
    color: #f1f1f1;
    margin-top: 20px;
    /* letter-spacing: 20px; */
}
@media (max-width:768px){
    header .branding, header nav,
    header li, #newsletter h3, #newsletter form, #boxes .box{
        float: none;
        text-align: center;
        width: 100%;
    }
    #showcase h2{
        padding-top: 40px;
    }
    #newsletter input{
        width: 100% !important;
        display: block;
        margin-bottom: 5px;
    }
    #newsletter button{
        width: 100%;
        display: block;
    }
}
 /* page About stylesheet */
.main-right > p:nth-child(4){
background-color:  #35424a;
color: #f1f1f1;
padding:  20px 20px;
}
.main-right{
width: 50%;
float: right;
margin-right: 80px;
margin-top: 20px;
margin-bottom: 50px;
padding:  20px 20px;
}
.main-left{
background-color:  #35424a;
color: #f1f1f1;
width: 30%;
float: left;
margin-left: 80px;
margin-top: 20px;
margin-bottom: 50px;
padding:  20px 20px;
}
 /* page Services stylesheet */
.boxright{
background-color: hsla(0, 0%, 75%, 0.883);
color: rgb(20, 20, 20);
width: 50%;
max-height: 200%;
float: right;
margin-right: 80px;
margin-top: 6px;
padding:  20px 20px;
box-shadow:2px 2px 5px rgba(0, 0, 0, 10);
}
.service{
margin-right:80px;
margin-top:5px;
margin-bottom: 5px; 
padding-top: 30px;
}
.box-1{
border: 1px solid  #f1f1f196;
margin-top: 30px;
width: 50%;
max-height: 500px;
padding-top: 30px;
}
.box-2{
border: 1px solid  #f1f1f196;
width: 50%;
max-height: 500px; 
padding-top: 30px;  
}
.box-3{
border: 1px solid  #f1f1f196;
margin-bottom: 30px;   
width: 50%;
max-height: 500px;
padding-top: 30px;
}
.boxleft{
background-color: #35424a;
color: #f1f1f1;
padding: 20px;
width:18%;
float: left;
margin-left: 8%;
margin-top: -24%;
/* margin-bottom:90%; */
/* padding:  20px 20px; */
height: 400px;
}
.boxleft::after{
    content: '';
    display: block;
    clear: both;
}
.boxleft h3{
    float: right;
    margin-right:-4%;
    margin-top:5px;
    margin-bottom: 5px; 
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
.boxleft form{
    float: left;
    text-align:right;
    
}
h5{
    margin-right:-10%;
}
.boxleft form input[type="text"]{
    /* height: 33px; */
    font-family: yekan;
    margin-right:-10%;
    margin-top:5px;
    margin-bottom: 5px; 
    /* padding-left: 20px;
    padding-right: 20px;   */
    padding: 4px;
    height: 25px;
    width: 300px;
    font-family: yekan;
}
.boxleft form input[type="email"]{
    /* height: 33px; */
    font-family: yekan;
    margin-right:-10%;
    margin-top:5px;
    margin-bottom: 5px; 
    /* padding-left: 20px;
    padding-right: 20px;   */
    padding: 4px;
    height: 25px;
    width: 300px;
    font-family: yekan;
}
.boxleft form input[type="texteara"]{
    /* height: 70px; */
    font-family: yekan;
    margin-right:-10%;
    margin-top:5px;
    margin-bottom: 5px; 
    /* padding-left: 20px;
    padding-right: 20px; */
    padding: 4px;
    height: 50px;
    width: 300px;
    font-family: yekan;
}
.btn1{
    height: 33px;
    background: #e8471d;
    border: 0;
    color: #f1f1f1;
    padding-left: 20px;
    padding-right: 20px;
    font-family: yekan;
    margin-right:-10%;
}